.conf-step__wrapper-block {
    width: 100%;
    max-width: 962px;
    background-color: rgba(234, 233, 235, 0.95);
    position: relative;
}

.section-header__end::before {
    content: '';
    width: 2px;
    height: 48px;
    background-color: #BC95D6;
    position: absolute;
    left: 61px;
}

.open-sales__block {
    width: 100%;
    display: grid;
    color: #000;
}

.open-sales__content {
    gap: 29px;
}

.open-sales__paragraph {
    width: 100%;
}

.open-sales__second-paragraph {
    margin: auto;
    text-align: center;
}

.open-sales-btn {
    width: 270px;
    margin: auto;
}

@media (max-width: 390px) {
    .section-header__end::before {
        display: none;
    }
}